* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-size: 18px;
}

.title {
    background-color:darkcyan;
    padding: 8px;
    min-width: 300px;
    width: max-content;
    color: white;
    margin-bottom: 0;
    padding-right: 50px;
}
.content {
    margin-top: 16px;
    width: 800px;
    margin-right: auto;
    line-height: 150%;
}
.content::after {
    clear: both;
}

.recipe-img, .listen {
    float: left;
    margin-right: 8px;
    border: 1px solid black;
}
.listen {
    width: 150px;
}
.recipe-img {
    width: 200px;
}
.subheader {
    margin-bottom: 0;
}
.subheader + ol, .subheader + ul {
    margin-top: 0;
    line-height: 150%;
}
.home-link {
    padding-bottom: 20px;
}